<div class="container mt-3">
    <app-loading *ngIf="isLoading"></app-loading>

    <div class="card">

        <div class="card-header bg-dark text-light"><h1>{{ title }}</h1></div>

        <div class="card-body">

            <div class="container" *ngIf="isLoading">

                <div class="row">
                    <div class="col-12 respuesta">
                        {{ result }}
                    </div>
                </div>

            </div>
            <br>
            <!-- <input [(ngModel)]="prompt" class="form-control" name="prompt" placeholder="Escribe tu mensaje aqui.."> -->
            <textarea name="prompt" [(ngModel)]="prompt" class="form-control" cols="2" rows="2" placeholder="Escribe tu mensaje aqui.."></textarea>
            <button class="btn btn-outline-primary mt-2 mr-2" (click)="generate()">Enviar</button>
            <button class="btn btn-outline-danger mt-2" (click)="limpiar()">Limpiar</button>

        </div>

    </div>

</div>

